@font-face{
    -fx-font-family: "Franklin Gothic Book";
}

.root {
    -fx-background-image: url("../image/background.jpg");
}

#hBox{

    -fx-background-size: 100% 100%;
}
#btn1{
    -fx-font-family: "Franklin Gothic Book";
    -fx-font-size: 14px;
    -fx-background-image: url("../image/Send_Up.jpg");
    -fx-background-size: 100% 100%;
    -fx-background-color:transparent;

}
#textField{
    -fx-padding: 10 10 10 30;
    -fx-font-family: "-fx-font-family: "Franklin Gothic Book";";
    -fx-font-size: 14px;
    -fx-background-image: url("../image/textArea.jpg");
    -fx-background-color:transparent;

        -fx-background-size: 100% 100%;
            -fx-font-weight: 900;
            -fx-text-fill: #4e5160;
}

#hBox{
    -fx-background-image: url("../image/hBox.jpg");
}

#textArea{
    -fx-padding: 20 20 20 20;
    -fx-font-family: "-fx-font-family: "Franklin Gothic Book";";
    -fx-font-size: 14px;
    -fx-background-image: url("../image/background.jpg");
    -fx-background-color: transparent;
    -fx-background-size: 100% 100%;

    -fx-font-weight: 900;
    -fx-text-fill: #2c2616;


    }

    #textArea .scroll-pane {
        -fx-background-color: transparent;
    }

    #textArea .scroll-pane .viewport{
        -fx-background-color: transparent;
    }


    #textArea .scroll-pane .content{
        -fx-background-color: transparent;
    }


